@page "{id}"
@model Portfolio.Pages.ClassManager.UpdateModel
@{
}

<form method="post" class="form-control">
    <label class="form-control" asp-for="ClassVM.Name"></label>
    <input asp-for="ClassVM.Name" class="form-control" />
    <br />
    
</form>