@page
@model Portfolio.Pages.LabWorksManager.CreateLabWorkModel
@{
}


<div class="container">
    <form method="post">
        <br />
        <label asp-for="LabWorkVM.Name"></label>
        <br />
        <input asp-for="LabWorkVM.Name" />
        <br />
        <label asp-for="LabWorkVM.Completed"></label>
        <br />
        <input asp-for="LabWorkVM.Completed" />
        <br />
        <button class="btn btn-primary">Submit</button>
    </form>
    

</div>