@using Microsoft.AspNetCore.Identity
@using Portfolio.Entities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >@User.Identity?.Name!</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" asp-page="/Account/Index">Profile</a></li>
            <li><a class="dropdown-item" asp-page="/Account/Manage/Index">Manage Profile</a></li>
                <form class="dropdown-item" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button type="submit" class="nav-link dropdown-item">Logout</button>
                </form>
        </ul>
    </li>
    
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
