@using Portfolio.Claims
@using Portfolio.Entities
@using System.Security.Claims
@inject SignInManager<AppUser> _signInManager;
@inject UserManager<AppUser> _userManager;

<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User) &&
         User.Claims
        .Where(c => c.Type == "Role")
        .Where(c => c.Value == MyClaimValues.SuperAdmin ||
                     c.Value == MyClaimValues.Teacher)
        .Select(c => c).Count() != 0)
    {
        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Subject</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" asp-page="/SubjectManager/CreateSubject">Create Subject</a></li>
                <li><a class="dropdown-item" asp-page="/SubjectManager/Index">Subjects</a></li>
                <li><a class="dropdown-item" asp-page="/LabWorksManager/Index">Lab-Works</a></li>
                <li><a class="dropdown-item" asp-page="/LabWorksManager/CreateLabWork">Create Lab-Work</a></li>
                <li><a class="dropdown-item" asp-page="/ClassManager/Index">Classes</a></li>

            </ul>
        </li>
    }
</ul>

