@page
@model Portfolio.Pages.Manage.LabWorks.IndexModel
@{
}

<a asp-page="CreateLabWork" class="btn">Add Lab-Work</a>
@foreach (var lab in Model.LabWorkVM)
{
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <td><a asp-page="LabWork" asp-route-id="@lab.Id">@lab.Name</a></td>
        </tr>
    </table>
}