@page
@model Portfolio.Pages.Manage.Class.IndexModel
@{
}

@foreach(var cls in Model.Classes)
{
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <td><a asp-page="Class" asp-route-id="@cls.Id">@cls.Name</a></td>
        </tr>
    </table>
}