@page
@model Portfolio.Pages.SubjectManager.CreateSubjectModel
@{
}
<div class="container">
    <form method="post" class="form-control">
        <label class="form-label" asp-for="SubjectVM.Name"></label>
        <br />
        <input asp-for="SubjectVM.Name" />
        <br />
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
