@page
@model Portfolio.Pages.SubjectManager.IndexModel
@{
}

<h4>Subjects</h4>

<a class="btn btn-success" asp-page="CreateSubject">Add</a>

@foreach(var sub in Model.Subjects)
{
    <table>
        <tr>
            <td>Name</td>
        </tr>
        <tr>
            <td><a asp-page="Subject" asp-route-id="@sub.Id">@sub.Name</a></td>
        </tr>
    </table>
}