@page "{id}"
@model Portfolio.Pages.SubjectManager.SubjectModel
@{
}

<div class="container">
    <h5>@Model.Subject.Name</h5>
    @foreach(var lab in Model.Subject.LabWorks)
    {
        <p>@lab.Name</p>
    }
    <a asp-page="LabWorksManager/CreateLabWork">Add Lab Works</a>
</div>