@page
@model Portfolio.Pages.LabWorksManager.UpdateModel
@{
}

<form method="post">
    <input readonly hidden asp-for="LabWorkVM.Id" />
    <label>Select Subject</label>
    <select asp-items="Model.Subjects" asp-for="LabWorkVM.Id">
        <option value="@Model.LabWorkVM.SubjectId">@Model.LabWorkVM.Subject.Name</option>
    </select>
    <br />
    <label asp-for="LabWorkVM.Name"></label>
    <br />
    <input asp-for="LabWorkVM.Name" />
    <br />
    <label asp-for="LabWorkVM.Completed"></label>
    <br />
    <input asp-for="LabWorkVM.Completed" />
    <br />
    <button class="btn btn-primary">Submit</button>
</form>